
*.exe
*.pdb
*.cache
*.cs
*.dll
*.exe
*.config
*.CopyComplete
*.txt
*.resources
*.baml
.vs/LogicCalculator/v16/.suo
calc_backup.txt
LogicCalculator/LogicCalculator.csproj
*.csproj
*.user
LogicCalculator/LogicCalculator.csproj
*.csproj
*.zip
packages/System.Collections.4.3.0/ref/netcore50/zh-hans/System.Collections.xml
*.xml
*.p7s
*.nupkg
*.config
*.config
