
*.exe
*.pdb
*.cache
*.dll
*.exe
*.config
*.CopyComplete
*.txt
*.resources
*.baml
.vs/LogicCalculator/v16/.suo
calc_backup.txt
*.csproj
*.zip
packages/System.Collections.4.3.0/ref/netcore50/zh-hans/System.Collections.xml
*.xml
*.p7s
*.nupkg
*.config
LogicCalculator/MainWindow.xaml-Oren-PC.cs
LogicCalculator/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LogicCalculator/Evaluation-Oren-PC.cs
LogicCalculator/obj/Debug/LogicCalculator_Content.g.i.cs
